body {
    max-width:100vw;
    max-height:100vh;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 500;
    font-size: 1.5em;
    padding: 20px 0 7px;
    display: inline-block;
    border-bottom: #000 4px solid;
    margin: 0 auto;
}

strong {
    font-weight:700;
}

.button {
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #48FF9B, #00FFDA);
    display: block;
    font-weight: 700;
}

.button-big {
    min-width: 40%;
    height: 52px;
    margin: 0 auto;
    font-size: 1.5em;
    line-height:2em;
}

.button-small {
    min-width: 17%;
    height: 36px;
    margin: 30px 0 0 0;
    font-size: 1.1em;
}

/* --------- CODE HEADER --------- */

header {
    background-color:#48F09B;
    height:5em;
    display: flex;
}

.header__logo {
    display: flex;
    padding: 0 30px;
    background-color: #fff;
}

.header__logo-spire {
    margin:auto 5px auto auto;
    height: 30%;
}

.header__title {
    margin:auto auto auto 0;
    font-weight:700;
    font-size:1.5em;
    padding: 0;
    display: block;
    border:none;
}

#searchbar {
    height: 20px;
    margin: auto;
    background: transparent;
    border: 2px solid #000;
    border-radius: 3px;
    line-height: 30px;

}

#searchbar::placeholder {
    color: #000;
    font-size: 0.7em;
    vertical-align: middle;
  }

.menu-header {
    margin:auto 1em auto auto;
}

.menu-header ul {
    display:flex;
}

.menu-header ul li {
    margin-left:10px;
}

.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
  }
  
.menuItem:hover {
    text-decoration: underline;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.close__icon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}

#open-menu {
    width:4em;
}

#close-menu {
    width:3em;
}


/* --------- CODE MAIN --------- */
/* --------- CODE SECTION TROUVER VOTRE STATION --------- */

.find-station {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../sources/images/descente-3.png');
    background-size: cover;
    background-repeat:no-repeat;
    position:relative;
}

.find-station__div {
    margin: auto 0;
}

.find-station__row {
    margin: 0 auto;
    text-align: center;
}

.find-station__background {
    display: flex;
    justify-content: center;
}

.find-station__row--image {
    max-width: 8%;
    margin-bottom: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom:0;
    transition: all .3s ease-out;
}

.find-station__row--image:hover {
    transform: rotate(90deg);
}

/* --------- CODE SECTION COMMENT CA MARCHE --------- */

.how-it-works {
    background: linear-gradient(to bottom, #6384ac, #48f09b 30%);
    position: relative;
    height: 30em;
    text-align: center;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.how-it-works__title {
    padding: 20px 0 7px;
    margin: 0 auto;
}

.how-it-works__buttons {
    display:flex;
    padding-bottom:30px;
}

.how-it-works__button {
    margin: 0 7em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(0 0 0 / 10%);
    border: 0;
    color: #000;
    font-weight: 700;
    font-size: .7em;
}

.how-it-works__button--active {
    border: 2px solid #000;
}

.how-it-works__button:hover {
    background-color: rgb(0 0 0 / 30%);
}

.how-it-works__carrousel {
    margin-bottom: 20px;
}

.carousel-item {
    position: absolute;
    top: 100px;
    left: 25%;
    right: 25%;
    max-width: 50%;
    object-fit: cover;
    opacity: 0;
    transition: opacity .3s;
    text-align: center;
}

.carousel-item--current {
    opacity: 1;
    z-index: 1;
}

.carousel-item h3 {
    font-weight: 500;
    font-size: 1.3em;
    display: table;
    border-bottom: #000 4px solid;
    margin: 20px auto 40px;
}

.carousel-item img {
    max-height: 120px;
    max-width: 100%;
    margin: 10px auto 20px;
}

.carousel-item p {
    text-align: justify;
    text-align-last: center;
}


/* --------- CODE SECTION SPIRE C'EST QUOI ? --------- */


.what-is-spire {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

.what-is-spire h1 {
    margin-bottom: 20px;
}

.what-is-spire p {
    margin-top: 20px;
}


/* --------- CODE SECTION MID IMAGE --------- */


.mid-image {
    margin-top: -30px;
    margin-bottom: -30px;
}


.mid-image__background {
    width:100%;
}


/* --------- CODE SECTION NOS ENGAGEMENTS --------- */


.our-commitment {
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin: 0 auto 3em;
}

.our-commitment h1 {
    margin-bottom: 20px;
}

.our-commitment p {
    margin-top: 20px;
    text-align:justify;
}


/* --------- CODE SECTION NEWSLETTER --------- */


.newsletter {
    background-color: #49ff9b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20% 30px;
    margin: 0 auto;
}

.newsletter h1 {
    margin-bottom: 30px;
}

.newsletter div {
    margin-bottom: 20px;
    max-width:20em;
    text-align:center;
}

#email {
    width: 100%;
    max-width: 24em;
    height: 20px;
    margin: 0 auto 20px;
    background: transparent;
    border: 2px solid #000;
    border-radius: 3px;
    line-height: 20px;
}

#email::placeholder {
    color:#000;
}

.newsletter__button {
    width: 10em;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: none;
    background-color: #fff;
    border-radius: 3px;
}

.newsletter__button img {
    width: 25%;
    margin-left: 5%;
}










@media screen and (min-width:768px) {
    #noir {
      display:block;
    }
  
  }

@media screen and (min-width:1024px) {
#noir {
    display:block;
}

}